<span><i class='fa fa-file-text fa-1x'></i> Informações do Rastreamento</span>
<hr>

<div class="m-3 form-row">
    <span class="form-group col-sm-6">IMEI<br>
        <input class="form-control form-control-sm" type="text" name="uniqueId" id="uniqueId" value="{{uniqueId}}" disabled>
    </span>

    <span class="form-group col-sm-6">Modelo<br>
        <input class="form-control form-control-sm" type="text" name="model" id="model" value="{{model}}" disabled>
    </span>

    <span class="form-group col-sm-6">Marca<br>
        <input class="form-control form-control-sm" type="text" name="marca" id="marca" value="{{marca}}" disabled>
    </span>

    <span class="form-group col-sm-6">Numero CHIP-M2M<br>
        <input class="form-control form-control-sm" type="text" name="phone" id="phone"  value="{{phone}}" disabled>
    </span>
</div>

{{buttons}}